* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: hsl(224deg, 30%, 27%);
  background-color: hsl(221deg, 100%, 96%);
}

.card {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 376px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 25px;
  text-align: center;
}
.card .card-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4em 3.3em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252deg, 100%, 67%)), to(hsl(241deg, 81%, 54%)));
  background-image: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
  border-radius: 30px;
  color: hsl(241deg, 100%, 89%);
}
.card .card-result__score-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.1em 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(256deg, 72%, 46%)), to(hsla(241deg, 72%, 46%, 0)));
  background-image: linear-gradient(hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
  color: hsl(0deg, 0%, 100%);
}
.card .card-result__score {
  font-size: 5rem;
  font-weight: 800;
}
.card .card-result__max-score {
  font-size: 1.4rem;
  color: hsla(0deg, 0%, 100%, 0.5);
}
.card .card-result__text {
  font-size: 2.2rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  letter-spacing: 1px;
}
.card .card-result__info {
  margin: 0.5em 0;
  font-size: 1.4rem;
}
.card .card-summary {
  padding: 1.6em;
}
.card .card-summary__title {
  text-align: left;
  font-weight: 700;
  font-size: 1.8rem;
}
.card .card-summary__stats-box {
  padding: 0.5em 0;
}
.card .card-summary__stat {
  margin: 0.888em 0;
  padding: 0.888em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
}
.card .card-summary__stat-number {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.card .card-summary__stat-number span {
  color: hsl(224deg, 30%, 27%);
}
.card .card-summary__stat:nth-child(1) {
  color: hsl(0deg, 100%, 67%);
  background-color: rgba(255, 87, 87, 0.05);
}
.card .card-summary__stat:nth-child(2) {
  color: hsl(39deg, 100%, 56%);
  background-color: rgba(255, 176, 31, 0.05);
}
.card .card-summary__stat:nth-child(3) {
  color: hsl(166deg, 100%, 37%);
  background-color: rgba(0, 189, 145, 0.05);
}
.card .card-summary__stat:nth-child(4) {
  color: hsl(234deg, 85%, 45%);
  background-color: rgba(17, 37, 212, 0.05);
}
.card .card-summary__stat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}
.card .card-summary__btn {
  width: 100%;
  padding: 1.1em;
  border: none;
  background-color: hsl(224deg, 30%, 27%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.card .card-summary__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252deg, 100%, 67%)), to(hsl(241deg, 81%, 54%)));
  background-image: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
}

.attribution {
  margin-top: 2.3em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    min-height: 100vh;
  }
  .card {
    max-width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card .card-result, .card .card-summary {
    width: 50%;
  }
  .card .card-result {
    padding: 2.33em 2.7em;
  }
  .card .card-result__score-box {
    margin: 1.94em 0;
    width: 200px;
    height: 200px;
  }
  .card .card-result__score {
    font-size: 7.2rem;
  }
  .card .card-result__max-score {
    font-size: 1.6rem;
  }
  .card .card-result__text {
    font-size: 2.2rem;
  }
  .card .card-result__info {
    font-size: 1.8rem;
  }
  .card .card-result__title, .card .card-summary__title {
    font-size: 2.4rem;
  }
  .card .card-summary {
    padding: 2.22em;
  }
  .card .card-summary__stat {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=main.css.map */