@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: hsl(224deg, 30%, 27%);
  background-color: hsl(221deg, 100%, 96%);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 376px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 25px;
  text-align: center;
}
.card__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252deg, 100%, 67%)), to(hsl(241deg, 81%, 54%)));
  background-image: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
  border-radius: 30px;
  color: hsl(241deg, 100%, 89%);
}
.card__score-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(256deg, 72%, 46%)), to(hsla(241deg, 72%, 46%, 0)));
  background-image: linear-gradient(hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
  color: hsl(0deg, 0%, 100%);
}
.card__score {
  font-size: 5rem;
  font-weight: 800;
}
.card__max-score {
  font-size: 1.4rem;
  color: hsla(0deg, 0%, 100%, 0.5);
}
.card__result-text {
  font-size: 2.2rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  letter-spacing: 1px;
}
.card__result-info {
  margin: 10px 0;
  font-size: 1.4rem;
}
.card__summary {
  padding: 30px;
}
.card__summary-title {
  text-align: left;
  font-weight: 700;
  font-size: 1.8rem;
}
.card__stats-box {
  padding: 10px 0;
}
.card__stat {
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.card__stat-number {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.card__stat-number span {
  color: hsl(224deg, 30%, 27%);
}
.card__stat:nth-child(1) {
  color: hsl(0deg, 100%, 67%);
  background-color: rgba(255, 87, 87, 0.05);
}
.card__stat:nth-child(2) {
  color: hsl(39deg, 100%, 56%);
  background-color: rgba(255, 176, 31, 0.05);
}
.card__stat:nth-child(3) {
  color: hsl(166deg, 100%, 37%);
  background-color: rgba(0, 189, 145, 0.05);
}
.card__stat:nth-child(4) {
  color: hsl(234deg, 85%, 45%);
  background-color: rgba(17, 37, 212, 0.05);
}
.card__stat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.card .card__stat:hover .card__stat-title {
  letter-spacing: 8px;
}
.card__stat-title {
  -webkit-transition: letter-spacing 0.3s;
  transition: letter-spacing 0.3s;
}
.card__summary-btn {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: hsl(224deg, 30%, 27%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.card__summary-btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252deg, 100%, 67%)), to(hsl(241deg, 81%, 54%)));
  background-image: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 768px) {
  .card {
    max-width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card__result, .card__summary {
    width: 50%;
  }
  .card__result {
    padding: 42px 50px;
  }
  .card__result-title, .card__summary-title {
    font-size: 2.4rem;
  }
  .card__score-box {
    margin: 35px 0;
    width: 200px;
    height: 200px;
  }
  .card__score {
    font-size: 7.2rem;
  }
  .card__max-score {
    font-size: 1.6rem;
  }
  .card__result-text {
    font-size: 2.2rem;
  }
  .card__result-info {
    font-size: 1.8rem;
  }
  .card__summary {
    padding: 40px;
  }
  .card__stat {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=main.css.map */