// Colors
$red: hsl(0, 100%, 67%);
$yellow: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Gradients
$background-gradient: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
$circle-gradient: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));

// Typography
$body-font: 'Hanken Grotesk', sans-serif;
$body-font-weight: 500;