@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: $body-font;
	font-weight: $body-font-weight;
	font-size: 1.8rem;
	color: $dark-gray-blue;
	background-color: $pale-blue;
}

.card {
	max-width: 320px;
	background-color: $white;
	border-radius: 25px;
	text-align: center;

	&__result {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 40px;
		background-image: $background-gradient;
		border-radius: 25px;
		color: $light-lavender;
	}

	&__score-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 20px 0;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-image: $circle-gradient;
		color: $white;
	}

	&__score {
		font-size: 5rem;
		font-weight: 800;
	}

	&__max-score {
		font-size: 1.4rem;
		color: hsla(0, 0%, 100%, 50%);
	}

	&__result-text {
		color: $white;
		font-weight: 600;
		letter-spacing: 1px;
	}

	&__result-info {
		margin: 10px 0;
		font-size: 1.4rem;
	}

	&__summary {
		padding: 24px;
	}

	&__summary-title {
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
	}

	&__stats-box {
		padding: 10px 0;
	}

	&__stat {
		margin: 10px 0;
		padding: 12px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-size: 1.4rem;
		font-weight: 600;
		border-radius: 10px;
	}

	&__stat-number {
		color: hsl(224, 30%, 27%, 50%);

		span {
			color: $dark-gray-blue;
		}
	}

	&__stat:nth-child(1) {
		color: $red;
		background-color: $red-background;
	}
	&__stat:nth-child(2) {
		color: $yellow;
		background-color: $yellow-background;
	}
	&__stat:nth-child(3) {
		color: $green;
		background-color: $green-background;
	}
	&__stat:nth-child(4) {
		color: $blue;
		background-color: $blue-background;
	}

	&__stat-name {
		display: flex;
		gap: 10px;
	}

	&__summary-btn {
		width: 100%;
		padding: 14px;
		border: none;
		background-color: $dark-gray-blue;
		color: $white;
		border-radius: 20px;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background-image: $background-gradient;
		}
	}
}

.attribution {
	margin-top: 20px;
	font-size: 11px;
	text-align: center;

	a {
		color: hsl(228, 45%, 44%);
	}
}
